@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcf9f3;
  }
  body {
    overscroll-behavior: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

/* Scrollbar sutil para desktop y oculto en mobile / no-scrollbar */
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f6f3ed;
  }
  ::-webkit-scrollbar-thumb {
    background: #d0c4bd;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7c572e;
  }
  html {
    scrollbar-color: #d0c4bd #f6f3ed;
    scrollbar-width: thin;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
